.card.is-flip {
    --rotate-x: 180deg
}
.card {
    transform-style: preserve-3d;
    transform: perspective(10000px) rotateX(var(--rotate-x,0));
    transition: 500ms
}

.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    
}
.card-back {
    transform: rotateX(180deg)
}